In [10]:
import pandas as pd
import numpy as np

In [1]:
import psycopg2

print("Connecting to the PostgreSQL database...")

Connecting to the PostgreSQL database...

In [17]:
# Establish a connection to the PostgreSQL database
try:
    connection = psycopg2.connect(
        host="db.pqebyefuvarvwvwovchh.supabase.co",
        database="postgres",
        user="postgres",
        password="Hoangthinh@2004"
    )
    cursor = connection.cursor()
    print("Connection successful!")
except Exception as e:
    print(f"An error occurred: {e}")

Connection successful!

In [30]:
cursor.execute("""
    SELECT *
    FROM users
""")
records = cursor.fetchall()
users = pd.DataFrame(records, columns=[desc[0] for desc in cursor.description])
users.head()

,id,username,email,is_email_verified,email_verified_at,phone_number,is_phone_verified,phone_verified_at,password_hash,role_id,full_name,avatar_url,status,gender,date_of_birth,created_at,updated_at,is_deleted
0,1,alice,alice@example.com,False,None,None,False,None,hash1,None,None,None,active,None,None,2025-09-28 16:21:09.046775,2025-09-28 16:21:09.046775,False
1,2,bob,bob@example.com,False,None,None,False,None,hash2,None,None,None,active,None,None,2025-09-28 16:21:09.046775,2025-09-28 16:21:09.046775,False
2,3,charlie,charlie@example.com,False,None,None,False,None,hash3,None,None,None,active,None,None,2025-09-28 16:21:09.046775,2025-09-28 16:21:09.046775,False

In [28]:
connection.rollback()

In [29]:
cursor.execute("""
    select *
    from restaurants
""")
records = cursor.fetchall()
restaurants = pd.DataFrame(records, columns=[desc[0] for desc in cursor.description])

In [ ]:

all_users_profile = pd.concat

(Column(name='tablename', type_code=19), Column(name='tableowner', type_code=19))

         tablename tableowner
0        bookmarks   postgres
1       categories   postgres
2         comments   postgres
3    conversations   postgres
4  health_profiles   postgres